In [1]:
# Régression Linéaire Multiple
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importer le dataset
dataset = pd.read_csv('C:/DATASET/50_Startups.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [3]:
df=pd.DataFrame(X)
df.columns=['R&D Spend','Administration','Marketing Spend','State']

In [4]:
df.head()

  R&D Spend Administration Marketing Spend       State
0    165349         136898          471784    New York
1    162598         151378          443899  California
2    153442         101146          407935     Florida
3    144372         118672          383200    New York
4    142107        91391.8          366168     Florida

In [5]:
# Gérer les variables catégoriques

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

transformer = ColumnTransformer(
    transformers=[
        ("OneHot",        
         OneHotEncoder(), 
         [3]              
         )
    ],
    remainder='passthrough' 
)

X = transformer.fit_transform(X)

In [6]:
df=pd.DataFrame(X)
df.head()

   0  1  2       3        4       5
0  0  0  1  165349   136898  471784
1  1  0  0  162598   151378  443899
2  0  1  0  153442   101146  407935
3  0  0  1  144372   118672  383200
4  0  1  0  142107  91391.8  366168

In [7]:
# Diviser le dataset entre le Training set et le Test set
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [8]:
# Construction du modèle
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
regressor.predict(np.array([[1,0,0, 130000, 140000, 300000]]))

print('intercept_ : ',regressor.intercept_)
print('coef_      : ',regressor.coef_)

intercept_ :  42467.52924854249
coef_      :  [ 8.66383692e+01 -8.72645791e+02  7.86007422e+02  7.73467193e-01
  3.28845975e-02  3.66100259e-02]

In [9]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9347068473282303

In [10]:
#ici on va essayer de trouver un modele mais avec moins de variables
from sklearn.feature_selection import RFE

#rfe_5 = RFE(regressor, 5)
#rfe_5.fit(X_train, y_train)
#y_pred = rfe_5.predict(X_test)
#print(r2_score(y_test, y_pred))

#for i in range(X_train.shape[1]):
#    print('Column: %d, Selected %s, Rank: %.3f' % (i, rfe_5.support_[i], rfe_5.ranking_[i]))

In [11]:
rfe_4 = RFE(regressor, 4)
rfe_4.fit(X_train, y_train)
y_pred = rfe_4.predict(X_test)
print(r2_score(y_test, y_pred))

for i in range(X_train.shape[1]):
    print('Column: %d, Selected %s, Rank: %.3f' % (i, rfe_4.support_[i], rfe_4.ranking_[i]))

0.9471689304016875
Column: 0, Selected True, Rank: 1.000
Column: 1, Selected True, Rank: 1.000
Column: 2, Selected True, Rank: 1.000
Column: 3, Selected True, Rank: 1.000
Column: 4, Selected False, Rank: 3.000
Column: 5, Selected False, Rank: 2.000

C:\Users\assem\anaconda3\lib\site-packages\sklearn\utils\validation.py:67: FutureWarning: Pass n_features_to_select=4 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  warnings.warn("Pass {} as keyword args. From version 0.25 "

In [12]:
#rfe_3 = RFE(regressor, 3)
#rfe_3.fit(X_train, y_train)
#y_pred = rfe_3.predict(X_test)
#print(r2_score(y_test, y_pred))

#for i in range(X_train.shape[1]):
#    print('Column: %d, Selected %s, Rank: %.3f' % (i, rfe_3.support_[i], rfe_3.ranking_[i]))

In [13]:
import pickle
 
# Save the trained model as a pickle string.
pickle.dump(rfe_4, open('model.pkl', 'wb'))

In [14]:
# Load the pickled model
pickled_model = pickle.load(open('model.pkl', 'rb'))
ypred = pickled_model.predict(X_test)
print(r2_score(ypred,y_test))

0.9454823664060694

In [15]:
rfe_4.predict([[0,0,1,165349,136898,471784]])

array([189194.61742883])